.smart-menu {
  display: inline-block;
  position: relative;
  top: 0;
  left: 10px;
  height: 100%; }

.menu-button {
  box-sizing: border-box;
  display: block;
  width: 35px;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 20;
  padding: 0 5px; }
  .menu-button span {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 4px;
    background-color: #f0f0f0;
    border-radius: 4px;
    position: relative;
    top: 50%;
    margin-top: -2px; }
    .menu-button span:before, .menu-button span:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #f0f0f0;
      border-radius: 4px; }
    .menu-button span:before {
      top: -8px; }
    .menu-button span:after {
      top: 8px; }

.smart-menu.show .menu-list {
  width: auto;
  opacity: 1;
  height: auto;
  visibility: visible; }

.smart-menu.animating .menu-list {
  width: auto; }

.smart-menu .menu-list {
  box-sizing: border-box;
  list-style: none;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 50px 0 0;
  padding: 0;
  display: block;
  z-index: 10;
  color: #ccc;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden; }
  .smart-menu .menu-list:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    padding: 50px 10px 10px;
    position: absolute;
    top: -50px;
    left: -10px; }
  .smart-menu .menu-list .menu-item {
    white-space: nowrap;
    position: relative;
    line-height: 32px;
    background-color: #444; }
    .smart-menu .menu-list .menu-item:before {
      content: "";
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      box-sizing: border-box;
      width: 10px;
      height: 10px;
      border-color: transparent;
      border-top: 2px solid #ccc;
      border-right: 2px solid #ccc;
      transform-origin: top right;
      transform: rotate(45deg); }
    .smart-menu .menu-list .menu-item a {
      display: block;
      position: relative;
      color: #ccc;
      text-decoration: none;
      padding: 5px 30px 5px 10px;
      cursor: pointer; }
    .smart-menu .menu-list .menu-item:hover a, .smart-menu .menu-list .menu-item:active a {
      color: #fff; }
    .smart-menu .menu-list .menu-item:hover:before, .smart-menu .menu-list .menu-item:active:before {
      border-color: #fff; }
